In [8]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [9]:
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [10]:


f3 = open('3.txt', 'w')
f4 = open('4.txt', 'w')

f6 = open('6.txt', 'w')

In [11]:
f1 = open('1.txt', 'w')
f1.write(str(data.Sex[data.Sex=="male"].count())+' '+str(data.Sex[data.Sex=="female"].count()))

7

In [12]:
f2 = open('2.txt', 'w')
f2.write(str(round(data.Survived[data.Survived==1].count()/data.Survived.count()*100,2)))

5

In [26]:
f5 = open('5.txt', 'w')

f5.write(str(round(data['SibSp'].corr(data['Parch']),2)))

4

In [27]:
f1.close()
f2.close()
f3.close()
f4.close()
f5.close()
f6.close()