In [1]:
from sklearn import datasets

newsgroups = datasets.fetch_20newsgroups(
                    subset='all', 
                    categories=['alt.atheism', 'sci.space']
             )

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(newsgroups.data)
y = newsgroups.target

In [3]:
import numpy as np
from sklearn import svm
from sklearn.model_selection import *
grid = {'C': np.power(10.0, np.arange(-5, 6))}
cv = KFold(n_splits=5, shuffle=True, random_state=241)
clf = svm.SVC(kernel='linear', random_state=241)
gs = GridSearchCV(clf, grid, scoring='accuracy', cv=cv)
gs.fit(X, y)

GridSearchCV(cv=KFold(n_splits=5, random_state=241, shuffle=True),
             error_score='raise-deprecating',
             estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='auto_deprecated', kernel='linear',
                           max_iter=-1, probability=False, random_state=241,
                           shrinking=True, tol=0.001, verbose=False),
             iid='warn', n_jobs=None,
             param_grid={'C': array([1.e-05, 1.e-04, 1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02,
       1.e+03, 1.e+04, 1.e+05])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [6]:
bestC = gs.best_params_['C']
print(bestC)

1.0

In [7]:
svm = svm.SVC(kernel='linear', random_state=241,C=bestC)
svm.fit(X, y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=241,
    shrinking=True, tol=0.001, verbose=False)

In [12]:
import pandas
df2 = pandas.DataFrame( np.transpose(svm.coef_.toarray()), index=np.asarray(vectorizer.get_feature_names()) , columns=["col1"])

In [13]:
df2

            col1
00      0.292581
000    -0.123148
0000    0.000000
00000   0.000000
000000  0.000000
...          ...
zwakke  0.009864
zware   0.009864
zwarte  0.019729
zwork   0.058313
zyklon -0.002973

[28382 rows x 1 columns]

In [24]:
df2.sort_values(by=['col1'],inplace=True,ascending=False)
df2

              col1
space     2.663165
moon      1.201611
sky       1.180132
sci       1.029307
nasa      1.024223
...            ...
bible    -1.130612
religion -1.139081
atheists -1.249180
atheism  -1.254690
god      -1.920379

[28382 rows x 1 columns]

In [46]:
a=df2.head(10).index.values
a.sort()
print(a)
f1 = open('1.txt', 'w')
k=0
for i in a:
    if k<len(a)-1:
        f1.write(i+' ')
    else:
        f1.write(i)
    k+=1
f1.close()

['ca' 'dc' 'ether' 'gamma' 'launch' 'moon' 'nasa' 'sci' 'sky' 'space']